<header class=" footer-band">
    <!--<div class="container">-->
<footer class="footer">
    <!--panel-footer-->
    <div class="container-fluid">
        <!--<h2 class="inverted-color  form-heading">-->
            <!--<span class="glyphicon glyphicon-cutlery"></span> BurpItOut!!!</h2>-->
        <!--<p class="text-left inverted-color">-->
            <!--<b>Resto<span class="glyphicon glyphicon-glass"></span>Review</b> is a trademark of RestoReview Ltd.-->
            <!--<br> Copyright-->
            <!--<span class="glyphicon glyphicon-copyright-mark"></span> 2015 BurpItOut Ltd.-->
            <!--<br> All Rights Reserved-->
        <!--</p>-->

        <p class="text-left inverted-color">
            <b>Resto<span class="glyphicon glyphicon-glass"></span>Review</b> is a trademark of RestoReview Ltd.
            <br> Copyright
            <span class="glyphicon glyphicon-copyright-mark"></span> 2015 RestoReview Ltd.
            <br> All Rights Reserved
        </p>
        <!--<i class="ionicons ion-knife"></i>-->
        <!--<i class="material-icons">donut_small</i>-->
        <!--<i class="ionicons ion-android-radio-button-on"></i>-->

    </div>
</footer>
    <!--</div>-->
</header>

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="text-center">&copy; Northeastern University | College of Computer and Information Science</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="container-fluid">-->
    <!--&lt;!&ndash;<h2 class="inverted-color  form-heading">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-cutlery"></span> BurpItOut!!!</h2>&ndash;&gt;-->
    <!--<p class="text-left inverted-color">-->
    <!--<b><span class="glyphicon glyphicon-cutlery"></span> BurpItOut!!!</b> is a trademark of BurpItOut Ltd.-->
    <!--<br> Copyright-->
    <!--<span class="glyphicon glyphicon-copyright-mark"></span> 2015 BurpItOut Ltd.-->
    <!--<br> All Rights Reserved-->
    <!--</p>-->
    <!--</div>-->
<!--</nav>-->