
<div class="register-login-background">

    <div class="container">
        <div class="col-md-3 col-sm-3 col-lg-3"></div>
        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">

            <div class="register-login-form">

                <h1 class="register-login-form-header">Welcome Back</h1>

<div ng-show="model.lmessage" class="alert alert-danger text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;{{model.lmessage}}</div>

<form class="form-horizontal">
    <div class="form-group">
        <label for="exampleInputUsername2" class="col-sm-12 control-label-left">Username:</label>
        <div class="col-sm-12">
            <input ng-model="model.credential.username" type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword5" class="col-sm-12 control-label-left">Password:</label>
        <div class="col-sm-12">
            <input ng-model="model.credential.password" type="password" class="form-control" id="inputPassword5" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <!--<div class="col-sm-4"></div>-->
        <div class="col-lg-offset-2 col-lg-8 col-xs-12 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
            <button ng-click="model.login(model.credential)" type="submit" class="btn btn-block sample-button l-r-danger">Login</button>
        </div>
        <!--<div class="col-sm-4"></div>-->
    </div>
</form>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3"></div>
    </div>

</div>