/*Newly added classes for customization*/

/* To shift the labels to the left just beside the sidebar */
.control-label-left{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}


/* To increase size of glyphicons by certain factor */
.gi-15x{font-size: 1.5em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


/* To add space between two glyphicons */
.glyphicon-second {
    margin-left: 8px;
}

/* To properly align glyphicons into the table */
.glyphicon-right-align-top-offset{
    float: right;
    padding-top: 30px;

}

/* To properly align single plus glyhicon in Form-Fields,html */
.glyphicon-new-field-offset{

    padding-top: 30px;
    padding-right: 50px;
    float: right;
}

/* To have a bold line to have a separate section */
hr {
    border: 0;
    color: #FFFFFF;
    background-color: #000000;
    height: 5px;
    width: 100%;
    text-align: left;
}


/* To have colored glyphicons */
.glyphicon-green{

    color: seagreen;
}

.glyphicon-red{

    color: orangered;
}

.glyphicon-blue{

    color: royalblue;
}