/*Newly added classes for customization*/

/* To shift the labels to the left just beside the sidebar */
.control-label-left{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}


/* To increase size of glyphicons by certain factor */
.gi-15x{font-size: 1.5em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


/* To add space between two glyphicons */
.glyphicon-second {
    margin-left: 8px;
}

/* To properly align glyphicons into the table */
.glyphicon-right-align-top-offset{
    float: right;
    padding-top: 30px;

}

/* To properly align single plus glyhicon in Form-Fields,html */
.glyphicon-new-field-offset{

    padding-top: 30px;
    padding-right: 50px;
    float: right;
}

/* To have a bold line to have a separate section */
/*hr {*/
    /*border: 0;*/
    /*color: #FFFFFF;*/
    /*background-color: #000000;*/
    /*height: 5px;*/
    /*width: 100%;*/
    /*text-align: left;*/
/*}*/


/* To have colored glyphicons */
.glyphicon-green{

    color: seagreen;
}

.glyphicon-red{

    color: orangered;
}

.glyphicon-blue{

    color: royalblue;
}


/* Footer */

.footer {
    /*background: #c0392b;*/
    /*background: #985f0d;*/
    background: #000000;
    min-height:45px;
    margin-top: 0px;
    padding: 5px 10px 5px 0px;
    z-index: -999;
}


.form-header {
    padding: 10px 10px 10px 10px;
}

.inverted-color {
    color: #eee;
}

.inverted-color-new {
    color: #c0392b;
}

.resto-review-body{
    /*border: 2px solid #c0392b;*/
    border-top: 2px solid #c0392b;
    border-bottom: 2px solid #c0392b;
    color: #000;
}

.resto-review-body-full{
    border: 2px solid #000;
    /*color: #000;*/
}

.home-button-color{
    color: #fff;
    background-color: #003cb3;
    border-color: royalblue;
}

.home-button-color:hover{
    color: #c0392b;
}

.transparency {
    opacity: 0.9;
}
.transparency:hover {
    opacity: 1.0;
}

.nav-header{
    background: #f7e1bf;
}

.navbar-fixed-bottom{
    background: #985f0d;
    padding-top: 10px;
}

.search-top {
    width: 100%;
    height: auto;
    /*min-height: 100vh;*/
    max-height: 400vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.search-top-image-home {
    background-image: url(../images/Home.jpg);
}

.space-top-bottom {
    padding-top: 200px;
    padding-bottom: 150px;
}

.space-top-bottom-small {
    padding-top: 55px;
    padding-bottom: 200px;
}
@media (max-width: 768px) {
    .profile-header {
        text-align: center;
    }
    .top-button{
        padding-bottom: 0px;
    }
    .space-top-bottom {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .form-heading{
        font-size: 22px;
    }

}

.home-tag-line{
    text-align: center;
    color: orangered;
    padding-bottom: 20px;
}

.register-login-background {
    -webkit-filter: grayscale(20%); /* Chrome, Safari, Opera */
    filter: grayscale(20%);
    background-image: url('../images/register2.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

.register-login-form {
    /*border: 1px solid;*/
    background-color: #ff8533;
    border-radius: 8px;
    /*border-color: #000000;*/
    /*border-width: 2px;*/
    color: #000000;
    max-width: 500px;
    margin: 20px 0 70px;
    min-height: 400px;
    padding: 30px;
}

.register-login-form-header{
text-align: center;
    color: #c0392b;
    font-weight: 600;
}

/* Profile Page */

.profile-background {
    -webkit-filter: grayscale(45%); /* Chrome, Safari, Opera */
    filter: grayscale(45%);
    background-image: url('../images/profile-header.jpg');
    background-position: center center;
    background-size: cover;
    height: 250px;
    position: relative;
    padding-top: 25px;
    /* margin-top: -110px; */
}

.profile {
    margin-top: 0px;
    padding: 15px;
    position: relative;
    z-index: 2;
}

.img-circle {
    border-radius: 50%;
}

.img-circle {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 4px;
}

.img-no-padding {
    padding: 0px;
}

.profile-button{
    padding-top: 10px;
    margin-left: 15px;
}

.profile-body{
    background-color: #f7e1bf;
}

.hr-profile{
    height: 1px;
    width: 50%;
    align: center
}


/*!*elevation classes*!*/

/*.elevation1 {*/
    /*box-shadow: 0 1px 3px #999;*/
/*}*/
/*.elevation2 {*/
    /*box-shadow: 0 2px 5px #999;*/
/*}*/
/*.elevation3 {*/
    /*box-shadow: 0 5px 7px #999;*/
/*}*/

/*!*-------------------------*!*/

.inverted-color {
    color: #eee;
}
.dark-color {
    color: #222;
}

.white-color {
    color: #ffffff;
}
.site-color-background-tab {
    border-radius: 4px 4px 0 0;
    background-color: #c0392b;
    color:white;
}

.site-color-background-tab:hover {
    border-radius: 4px 4px 0 0;
    background-color: #c0392b;
    color:white;
}

.site-color-background {
    background-color: #c0392b;
    color:white;
}

.site-color-background-dark {
    background-color: #222;
}

.site-color-background-dark:hover {
    color:#c0392b;
}


.site-color {
    color: #c0392b;
}
.search-header {
    padding: 5px 0 5px 0;
}
.search-image {
    width: 100%;
    height: 100%;
    border: 3px solid #c0392b;
}
.search-content {
    padding: 15px;
}
.search-result a{
    text-decoration: none;
}
.search-result:hover {
    /*background-color: #F39D17;*/
    background-color: #FFF9c4;
    color: #eee;
}
.search-result:hover p{
    color: darkgreen;
    /*#eee*/
}
.big-square-button {
    border: none;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: none;
    margin-top: 20px;
}

.resto-navi-tab{
    background-color: #003cb3;
    color: #000000;
}


/*elevation classes*/

.elevation1 {
    box-shadow: 0 1px 3px #999;
}
.elevation2 {
    box-shadow: 0 2px 5px #999;
}
.elevation3 {
    box-shadow: 0 5px 7px #999;
}

/*-------------------------*/

/*card*/
.card {
    background: white;
    margin-top: 50px;
    z-index: 1;
    border-radius: 4px;
}

/*.card-resto {*/
    /*background-color: #ff8533;*/
    /*margin-top: 50px;*/
    /*z-index: 1;*/
/*}*/

.card-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card a {
    text-decoration: none;
    color: #333;
}
.card a:hover {
    text-decoration: none;
    color: #c0392b;
}


.pagination-button {
    padding-top: 20px;
    padding-bottom: 50px;
}


.wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
    background-color: white;
}

.map-container {
    height: 400px;
}

.banner {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-search-page {
    width: 100%;
    height: auto;
    /*min-height: 60px;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    margin-top: -50px;
    z-index:1;
}

.result-offset{
    margin-top: 50px;
}

.restaurant-logo-image {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border: 10px solid #c0392b;
}


.restaurant-color-background {
    background-color: #c0392b;
    /*#ff8533*/
}

/* review section*/

.review {
    padding: 20px;
    color:#000000;
}
.review-textarea {
    border: none;
    border-radius: 1px;
    max-width: 100%;
    min-width: 100%;
    background-color: #eee;
}
.review-textarea:focus {
    color: #eee;
    background-color: #c0392b;
}

.review-textarea-resto {
    border: none;
    border-radius: 1px;
    max-width: 100%;
    min-width: 100%;
    background-color: #eee;
}
.review-textarea-resto:focus {
    color: #c0392b;
    background-color: #eee;
}
.edit-review-textarea {
    border: none;
    border-radius: 1px;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-style: none;
}
.edit-review-textarea:focus {
    color: #eee;
    background-color: #c0392b;
}

.review-user{
    display: inline-block;
    padding: 5px 50px 5px 10px;
    margin-right: -40px;
}


/* Review Buttons */

.button-div{
    display: inline-block;
    /*padding: 5px;*/
    cursor: pointer
}
.vote-button-up{
    background-color: #f5f5f5;;
    color: #4caf50;
}
.vote-button-down{
    background-color: #f5f5f5;;
    color: #f44336;
}

.vote-button-up:hover{
    color: #1b5e20;
}
.vote-button-down:hover{
    color: #d50000;
}

.box-button{
    border-radius: 2px;
    border: none;
 }

.form-box{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}

.action-column {
    white-space: nowrap;
}

.hr-no-spacing-review
{
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #ddd;
}

.hr-little-spacing-review
{
    margin-top: 0px;
    margin-bottom: 10px;
    border-color: #c0392b;
    border-width: 1px;
}

.hr-little-spacing
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #000000;
    border-width: 1px;
}

.hr-little-spacing-resto
{
    margin-top: 30px;
    margin-bottom: 10px;
    border-color: #000000;
    border-width: 1px;
}

.user-relation-template
{

    /*padding: 10px 15px;*/
    /* border-bottom: 1px solid transparent; */
    background-color: #FFFFFF;
    border-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
}

.home-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    border-radius: 0;
    top: 50px;
    /*background: rgb(160, 97, 0);*/
    border-bottom: 10px solid #c0392b;
}

.footer-band{
    /*position: fixed;*/
    width: 100%;
    z-index: 100;
    border-radius: 0;
    bottom:0px;
    border-top: 10px solid #c0392b;
}

.resto-body{
    background-color: #F39D17;
}



.sample-button{
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 16px;
    min-width: 30px;
    font-weight: 500;
    padding: 7px 18px;
    border-color: #66615B;
    color: #66615B;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}


.sample-button-search{
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 1px;
    background-color: #000000;
    font-size: 16px;
    min-width: 30px;
    font-weight: 500;
    padding: 7px 18px;
    border-color: #c0392b;
    color: #FFFFFF;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.sample-button-search:hover{
    color:#c0392b;
}


.sample-button-profile{
    border-radius: 15px;
    box-sizing: border-box;
    border-width: 2px;
    background-color:transparent;
    font-size: 16px;
    min-width: 30px;
    font-weight: 700;
    padding: 7px 18px;
    border-color: #000000;
    color: #000000;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.sample-button-profile-display{
    border-radius: 15px;
    box-sizing: border-box;
    border-width: 2px;
    background-color:transparent;
    font-size: 15px;
    min-width: 30px;
    font-weight: 700;
    padding: 5px 15px;
    border-color: #000000;
    color: #000000;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.sample-button-resto-display{
    border-radius: 15px;
    box-sizing: border-box;
    border-width: 2px;
    background-color:transparent;
    font-size: 15px;
    min-width: 30px;
    font-weight: 500;
    padding: 5px 15px;
    border-color: #000000;
    color: #000000;
    margin:5px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.sample-button-resto-display:hover{
    /*background-color: #F39D17;*/
    background-color: #FFF9c4;
}

.sample-button-resto-closed{
    font-size: 15px;
    max-width: 80px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #c0392b;
    color:white;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}


.sample-button-resto-open{
    font-size: 15px;
    max-width: 70px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #008000;
    color:white;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.resto-open{

    color: #008000;
}

.resto-address{
    font-size:14px
}


.sample-button-profile-display:hover{
    background-color: #c0392b;
}

.sample-button-profile-edit{
    margin-top: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border-width: 2px;
    background-color:transparent;
    font-size: 14px;
    min-width: 30px;
    font-weight: 700;
    padding: 5px 10px;
    border-color: #000000;
    color: #000000;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.sample-button-profile-edit-cancel{
    margin-top: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border-width: 2px;
    background-color:transparent;
    font-size: 14px;
    min-width: 30px;
    font-weight: 700;
    padding: 5px 10px;
    border-color: #000000;
    color: #000000;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.sample-button-profile-edit:hover {
    background-color: #008000;
    color:black;
}

.sample-button-profile-edit-cancel:hover{
    background-color: #c0392b;
}

.sample-button-profile:hover{
    background-color: #c0392b;
}

.l-r-danger {
    border-color: #c0392b;
    color: #c0392b;
}

.l-r-danger:hover{
    background-color: #EB5E28;
    color:#000000
}

.res-rating-nf-search {
    color: #fff;
    cursor: default;
    border-radius: 5px;
    font-size: 16px;
    height: 25px;
    line-height: 28px;
    font-weight: 700;
    width: 50px;
    /*margin: 0 auto;*/
    margin: 22.5px;
    padding-left: 5px;
}

.res-rating-nf {
    color: #fff;
    cursor: default;
    border-radius: 5px;
    font-size: 16px;
    height: 25px;
    line-height: 28px;
    font-weight: 700;
    width: 50px;
    margin: 0 auto;
}

.res-rating-nf-resto {
    color: #fff;
    cursor: default;
    border-radius: 5px;
    font-size: 36px;
    height: 40px;
    line-height: 28px;
    font-weight: 700;
    width: 90px;
    margin-top: 20px;
    padding: 4px 5px 5px 4px;
    display: inline-block;
}

.star-Bg{
    /*color: #ffff00;*/
    color:gold;
}

.rating-resto{
    font-size: 30px;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    overflow-y: visible!important;
}

.right {
    float: right;
}

.level-6 {
    /*background: #9acd32;*/
    background: #008000;
}

.level-3 {
    background: #ffff00;
}

.level-1 {
    background: #c0392b;
}

.res-rating-nf {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}

.rating{
    font-size: 14.5px;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
    overflow-y: visible!important;
}

.profile-display-text{
    color: black;
    font-size: 14.5px;
    font-weight: 600;
    font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;
}

.profile-edit-text{
    color: black;
    font-size: 14px;
    /*font-weight: 600;*/
    /*font-family: proxima_nova_rgregular,"Helvetica Neue",Helvetica,Calibri,Arial,sans-serif;*/
}

/*.differentTable, .differentTable td,tr,th{*/
    /*border-color: black;*/
/*}*/

/*.new-table-profile {*/
    /*border: 0.5px solid #000000;*/
/*}*/
/*.table-bordered > thead > tr > th,*/
/*.table-bordered > tbody > tr > th,*/
/*.table-bordered > tfoot > tr > th,*/
/*.table-bordered > thead > tr > td,*/
/*.table-bordered > tbody > tr > td,*/
/*.table-bordered > tfoot > tr > td {*/
    /*border: 0.5px solid #000000;*/
/*}*/

/*Button custom*/
/*.btn {*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
    /*border-width: 2px;*/
    /*background-color: transparent;*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    /*padding: 7px 18px;*/
    /*border-color: #66615B;*/
    /*color: #66615B;*/
    /*-webkit-transition: all 150ms linear;*/
    /*-moz-transition: all 150ms linear;*/
    /*-o-transition: all 150ms linear;*/
    /*-ms-transition: all 150ms linear;*/
    /*transition: all 150ms linear;*/
/*}*/

/*.btn:hover, .btn:focus, .btn:active, .btn.active{*/
    /*background-color: #fffcf5;*/
    /*!*color: rgba(255, 255, 255, 0.7);*!*/
    /*border-color: #66615B;*/
/*}*/

/*.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active,*/
/*.btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active,*/
/*.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active,*/
/*.btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled]*/
/*.btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active*/
/*{*/
    /*background-color: transparent;*/
    /*border-color: #66615B;*/
/*}*/
