
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
::selection {
	color: #fff;
	background: #F39D17;
	/*background: #FFF9c4;*/
}

::-moz-selection {
 color: #fff;
 background: #F39D17;
	/*background: #FFF9c4;*/
}
p {
	color: #858585;
	margin: 0 0 1em !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
/*.fitImage {*/
	/*max-width: 100%;*/
	/*vertical-align: middle;*/
	/*display: inline-block;*/
/*}*/

.mcbook {
	opacity: 0;
}
.show {
	opacity: 1;
}

h6{
	font-size:14px;
}
.dataTxt ul li{
	list-style:none;
	line-height:30px;
}

.feature a {
display: inline-block;
font-size: 18px;
color: #fff;
background: #F39D17;
margin-right: 20px;
width: 220px;
text-align: center;
line-height: 41px;
/* border-radius: 10px; */
}
#services img{
	width:100%;
}
#services .circle{ 
display: inline-block;
background: transparent;
overflow: hidden; 
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}
#services .col-md-3:hover .circle {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


a {
	color: #F39D17;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color:#c0392b;
	text-decoration: none;
}


.copyright {
color: #6D6D6D;
background: #000000;
padding: 20px 0;
border-top: 1px solid #1D1D1D;
}

/* Header
----------------------------------------------*/

.circle {
	background: #fff;
	width: 90px;
	height:110px;
	border-radius: 0px;
	color: #F39D17;
	line-height: 90px !important;
}


.page-section {
	background: #ffffff;
	width: 100%;
	height: auto;
	padding: 35px 0;
}

.page-section h1 {
	font-size: 3.5em;
	margin: 90px 0 30px;
	line-height: 1.2em;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	color: #F39D17;
}
.page-section p {
	font-size: 15px;
	line-height: 1.5em;
}

/*#map {*/
/*display: block;*/
/*height: 486px;*/
/*width: 100%;*/
/*background-color: #F6F4EF;*/
/*}*/

.colord {
}
.colord p { 
}
.colord h3 {  
line-height: 50px;
}

.heading h2 {

	color: #222;
	font-family: 'Titillium Web', sans-serif;
	text-transform:capitalize !important;
	font-weight: normal !important;
	/*padding:0 0 25px !important;*/
}

.aboutUsBg
{
	background: #ffffff;
}
.heading {
	padding: 3px 10px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	/*margin-bottom: 30px;*/
	display: block;
}
.heading p {
	font-size: 1.2em;
}
img {
	max-width: 100%;
	height: auto;
}
/* Features
    -------------------------------------------------*/
#aboutUs { 
	padding-top: 35px;
	padding-bottom: 25px;
	overflow: hidden;
	background: #FFFFFF;
}
#aboutUs .feature {
	margin-top: 30px;
	margin-bottom: 54px;
}
#aboutUs .right {
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs h3 {
	font-size: 22px;
	letter-spacing: 1px;
	color: #222;
	margin-top:0px;
}
.dataTxt h4 {
font-size: 24px; 
line-height: 36px;
color:#000;
}

#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs .right {
	float: right;
}
.row .area1 {
	width: 50%;
}
.row .area2 {
	width: 35%;
}

/* --Portfolio----- */
#work {
	background: #222;
	color: #fff;
}
#work h2 {
	color: #fff !important;
}
#work p {
	color: #fff;
}
#portfolio {
	width: 100%
}
#portfolio .items {
	margin-bottom: 0px;
	/*margin-top: 20px;*/
}

#portfolio .items a img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#portfolio .items a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #000;*/
	/*background-color:#FFF9c4;*/
	background-color:rgba(255, 249, 196, 0.6);
	/*background-color:rgba(243, 157, 23, 0.62);*/
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
#portfolio .items a .overlay span {
	color: #c0392b;
	position: absolute;
	height: 50px;
	top: 50%;
	left: 0px;
	right: 0px;
	margin-top: -25px;
	line-height: 50px;
	font-weight: 800;
	font-size:15px;
	/*background: url('../images/zoom.png') top center no-repeat;*/
	padding: 17px 0;
}
#portfolio .items a:hover .overlay {
	opacity: 1
}
#portfolio .items a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

#portfolio .item .col-xs-6, .col-sm-3, .col-sm-6{

	padding-bottom: 15px;
	padding-top: 15px;

}

/*.current {*/
	/*background: #F39D17;*/
	/*color: #fff;*/
/*} */
.page-section.intro {
	min-height: 600px;
}
hr {
	border-color: #ddd;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.portfolio-item img:hover {
	width: 110%;
	height: 110%;
}
.area1 a{
	margin-bottom:10px;
}
#services,#aboutUs, #work{
padding:85px 0;
} 
.heading h2 {
color: #222;
font-weight: bolder; 
text-transform: uppercase;
font-size: 50px;
}

/*@media (max-width: 768px) {*/
/*.banner-container {*/
	/*background-size: contain;*/
/*}*/
#services, #aboutUs, #work{
padding:45px 0;
}
.row .six {
	width: auto;
}
.portfolio-item img {
	text-decoration: none;
	display: block;
	width: 330px;
	height: 228px;
	/*float: left;*/
	margin: 10px 3px 3px 10px;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 250ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 250ms;
}
.portfolio-item:hover .folio-info {
	top: 0px;
}
.portfolio-item .portfolio-desc .folio-info {
	padding: 0px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 1em;
} 


@media (max-width:760px) {

.row .area1, .row .area2 { 
display: block;
width: 100%;
}

}

@media (max-width: 480px) {

/*#section-top ul li a {*/
	/*height: 28px;*/
	/*line-height: 28px;*/
	/*width: 26px;*/
/*}*/

.page-section {
	padding: 0px;
}
.page-section h1 {
	font-size: 3em;
}
.page-section h2 {
	font-size: 2em;
}
.page-section p {
	font-size: 1em;
	margin: 0 0 20px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	font-size: 11px;
} 

	/*#portfolio .items li {*/
/*position: relative;*/
/*float: left;*/
/*width: 50%;*/
/*overflow: hidden;*/
/*}*/

/*#portfolio .filters li { */
/*margin-bottom: 20px;*/
/*}*/
}

@media (max-width: 320px) {

	.portfolio-item:hover .folio-info {
		margin-top: 20px;
	}

	.portfolio-item .portfolio-desc .folio-info h5 {
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		font-size: 10px;
		margin: 10px 0 0 0;
	}
}

.isotope-item {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	opacity: 1;
}
.isotopeWrapper article {
	margin: 0px;
}
