<!--<footer class="panel-footer footer">-->
    <!--<div class="container-fluid">-->
        <!--<h2 class="inverted-color  form-heading">-->
            <!--<span class="glyphicon glyphicon-cutlery"></span> BurpItOut!!!</h2>-->
        <!--<p class="text-left inverted-color">-->
            <!--<b><span class="glyphicon glyphicon-cutlery"></span> BurpItOut!!!</b> is a trademark of BurpItOut Ltd.-->
            <!--<br> Copyright-->
            <!--<span class="glyphicon glyphicon-copyright-mark"></span> 2015 BurpItOut Ltd.-->
            <!--<br> All Rights Reserved-->
        <!--</p>-->
    <!--</div>-->
<!--</footer>-->
