<section ng-show="model.searches">
    <h3>Search Results</h3>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Poster</th>
            <th>Hotel</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tr ng-repeat="restaurant in model.searches">
            <td><img height="75px" ng-src="{{restaurant.image_url}}"/></td>
            <td>
                <a href="{{restaurant.url}}" target="_blank">{{restaurant.name}}
                </a>
            </td>
            <td>{{restaurant.rating}}</td>
        </tr>
    </table>
    </div>
</section>