<div class="row">

    <div class="col-xs-6">
        <div class="form-group">
            <label for="FieldFirstName">First Name:</label>
            <input type="text" class="form-control" id="FieldFirstName" placeholder="First Name">
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-right-align-top-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue glyphicon-second gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger glyphicon-blue gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xs-6">
        <div class="form-group">
            <label for="FieldLastName">Last Name:</label>
            <input type="text" class="form-control" id="FieldLastName" placeholder="Last Name">
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-right-align-top-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue glyphicon-second gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger glyphicon-blue gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-6">
        <div class="form-group">
            <label for="FieldDate">Date of Birth:</label>
            <input type="date" class="form-control" id="FieldDate" placeholder="Select Date">
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-right-align-top-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue glyphicon-second gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger glyphicon-blue gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-6">
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select class="form-control" id="gender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-right-align-top-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue glyphicon-second gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger glyphicon-blue gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-xs-6">
        <label >Roles:</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="cdAdmin" value="">
                Admin
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="cdStudent" value="">
                Student
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="cdUser" value="1">
                User
            </label>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-right-align-top-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue glyphicon-second gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger glyphicon-blue gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-6">
        <label >License Agreement:</label>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosYes" value="option1" checked>
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadiosNo" value="option2">
                No
            </label>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-right-align-top-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue glyphicon-second gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
            <a class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger glyphicon-blue gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>
</div>


<hr>

<div class="row">

    <div class="col-xs-6">
        <div class="form-group">
            <label for="NewField">Add New Field:</label>
            <select class="form-control" id="NewField">
                <option>Single Line Text</option>
                <option>Date</option>
                <option>Dropdown</option>
                <option>Checkbox</option>
                <option>Radio button</option>
                <option>Paragraph Text Field</option>
            </select>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="glyphicon-new-field-offset">
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-green gi-15x" aria-hidden="true"></span></a>
        </div>
    </div>
</div>