

<div class="container-fluid search-top search-top-image-home">
    <div class=" container-fluid center-block space-top-bottom">

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-md hidden-sm hidden-xs"></div>
            <div class="col-lg-6 container-fluid">
                <!--<h1 class="home-tag-line">Best way to find restaurants around you...</h1>-->
                <!--<div class="row">-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <input ng-model="model.searchData.query"
                               class="form-control text-input center-block ng-pristine ng-untouched ng-valid"
                               name="search"
                               value=""
                               placeholder="Spicy,Italian,Mexican ..."
                               type="text">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input ng-model="model.searchData.city"
                               class="form-control text-input center-block ng-pristine ng-valid ng-touched"
                               name="search"
                               value=""
                               placeholder="Enter City, State ..."
                               type="text">
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <button ng-click="model.search(model.searchData)"
                                class="btn home-button-color search-button center-block form-control"
                                type="button"
                                name="button">
                            <span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                <!--</div>-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-md hidden-sm hidden-xs"></div>
        </div>
    </div>
</div>


<!--Added Later-->

<section id="services" class="page-section colord">
    <div class="container">
        <div class="row">
            <!-- item -->

            <a href="#/search/type/Breakfast/place/{{model.searchData.city}}">
            <div class="col-md-3 text-center"> <i class="circle"><img ng-src='../../images/1.png' alt="" /></i>

                <h3>Breakfast</h3>
                <p class="dark-color">Start you day with a nutritious power-packed breakfast</p>

            </div>
            </a>
            <!-- end: -->

            <!-- item -->
            <a href="#/search/type/Lunch/place/{{model.searchData.city}}">
            <div class="col-md-3 text-center"><i class="circle"> <img src="../../images/2.png" alt="" /></i>

                <h3>Lunch</h3>
                <p class="dark-color">Have something tasty for lunch</p>

            </div>
            </a>
            <!-- end: -->

            <!-- item -->
            <a href="#/search/type/Dinner/place/{{model.searchData.city}}">
            <div class="col-md-3 text-center"><i class="circle"> <img src="../../images/3.png" alt="" /></i>
                <h3>Dinner</h3>

                <p class="dark-color">End your day on a high note with a satisfying dinner meal.</p>
            </div>
            </a>
            <!-- end: -->

            <!-- item -->
            <a href="#/search/type/Party/place/{{model.searchData.city}}">
            <div class="col-md-3 text-center"><i class="circle"> <img src="../../images/4.png" alt="" /></i>

                <h3>Party</h3>

                <p class="dark-color">Enjoy all night</p>

            </div>
            </a>
            <!-- end:-->
        </div>
    </div>
    <!--/.container-->
</section>

<section id="work" class="page-section page">
    <div class="container text-center">
        <div class="heading">
            <h2>Cuisines</h2>
            <p>Select the cuisine you would like to eat.</p>
        </div>
        <div class="row">
            <!--<div class="col-md-12">-->
            <div id="portfolio">
                <div class="items">
                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Chinese/place/{{model.searchData.city}}"> <img src="../../images/work/1.jpg"  alt="">
                                <div class="overlay"> <span>Chinese</span> </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Thai/place/{{model.searchData.city}}"> <img src="../../images/work/2.jpg" alt="Generic placeholder thumbnail">
                                <div class="overlay"> <span>Thai</span> </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Continental/place/{{model.searchData.city}}"> <img src="../../images/work/3.jpg" alt="Generic placeholder thumbnail">
                                <div class="overlay"> <span>Continental</span> </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Italian/place/{{model.searchData.city}}"> <img src="../../images/work/4.jpg" alt="Generic placeholder thumbnail">
                                <div class="overlay"> <span>Italian</span> </div>
                            </a>
                        </div>
                    </div>



                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Japanese/place/{{model.searchData.city}}"> <img src="../../images/work/5.jpg" alt="Generic placeholder thumbnail">
                                <div class="overlay"> <span>Japanese</span> </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Sea foods/place/{{model.searchData.city}}"> <img src="../../images/work/6.jpg" alt="Generic placeholder thumbnail">
                                <div class="overlay"> <span>Sea foods</span> </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Mexican/place/{{model.searchData.city}}"> <img src="../../images/work/7.jpg" alt="Generic placeholder thumbnail">
                                <div class="overlay"> <span>Mexican</span> </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <div class="item">
                            <a href="#/search/type/Indian/place/{{model.searchData.city}}"> <img src="../../images/work/8.jpg" alt="">
                                <div class="overlay"> <span>Indian</span> </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="aboutUs">
    <div class="container">
        <div class="heading text-center aboutUsBg">
            <!-- Heading -->
            <h2>About Us</h2>
            <p class="dark-color">At the end of the day, Its all about having good food!!!</p>
            <div> <img src="../../images/review.png" alt="" width="50%">
        </div>
        </div>
        <div class="row feature design">
            <div class="area1 columns right">
                <h3>Reviews from peers matter.</h3>
                <p class="dark-color">If you have dinner at a restaurant in your neighbourhood and would like to share your experience, just
                    add a review in our website so that other users might benefit from it. </p>

            </div>
            <div class="area1 columns right">
                <h3>Our Services</h3>
                <p class="dark-color">Looking for a good restaurant around...if in search of best restaurant in vicinity that
                serves your favourite cuisine….if you are new in the neighbourhood and are looking for
                a quick bite…RestoReview make things easy for you.</p>
            </div>
        </div>
        <div class="row dataTxt right">
            <!--<h4>Our Services</h4>-->
            <!--<p>Looking for a good restaurant around...if in search of best restaurant in vicinity that-->
                <!--serves your favourite cuisine….if you are new in the neighbourhood and are looking for-->
                <!--a quick bite…BurpItOut!!! make things easy for you.</p>-->
            <!--<br>-->
            <p class="dark-color">The inspiration for creating such a mobile
                friendly website comes from current websites like Zomato and Yelp. The primary
                purpose is to make a very simple and easy to use
                user interface, which avoids display
                of overwhelming information.</p>


        </div>
    </div>
</section>




