<H1>Page under construction</H1>

<h1>Reviews</h1>

<div ng-show="fmessage" class="alert alert-danger text-center" role="alert">{{fmessage}}</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/profile/{{currentUser._id}}/reviews">Reviews</a></li>
    <li role="presentation"><a href="#/profile/{{currentUser._id}}/reviews">Details</a></li>
</ul>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Hotel Name</th>
            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action</th>
        </tr>

        <tr>
            <td><input ng-model="fTitle" type="text" class="form-control" id="Formname" placeholder="name"></td>
            <td><a ng-click="addReview(fTitle)" class="btn btn-default"><span class="glyphicon glyphicon-plus glyphicon-blue gi-15x" aria-hidden="true"></span></a>
                <a ng-click="updateReview(fTitle)" class="btn btn-default"><span class="glyphicon glyphicon-ok glyphicon-green gi-15x" aria-hidden="true"></span></a><!--  glyphicon-second removed -->


            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="review in userReviews">
            <td><a href="#/profile/{{currentUser._id}}/reviews/{{review._id}}">{{review.title}}</a></td>
            <td><a ng-click="deleteReview($index)" class="btn btn-default"><span class="glyphicon glyphicon-remove glyphicon-red gi-15x" aria-hidden="true"></span></a>
                <a ng-click="selectReview($index)" class="btn btn-default"><span class="glyphicon glyphicon-pencil glyphicon-blue gi-15x" aria-hidden="true"></span></a><!--  glyphicon-second removed -->
            </td>
        </tr>
        </tbody>
    </table>
</div>