<!--<section ng-show="model.searches">-->
    <!--<h3>Search Results</h3>-->
    <!--<div class="table-responsive">-->
    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Poster</th>-->
            <!--<th>Hotel</th>-->
            <!--<th>Rating</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tr ng-repeat="restaurant in model.searches">-->
            <!--<td><img height="75px" ng-src="{{restaurant.image_url}}"/></td>-->
            <!--<td>-->
                <!--<a href="{{restaurant.url}}" target="_blank">{{restaurant.name}}-->
                <!--</a>-->
            <!--</td>-->
            <!--<td>{{restaurant.rating}}</td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
<!--</section>-->


<section ng-show="model.searches">
<div class="container-fluid banner site-color-background-dark elevation3 ng-scope">
    <div class="container search-header">
        <div class="row">
            <div class="col-lg-8">
                <!-- ngIf: model.place==undefined -->

            </div>
            <div class="col-lg-4">
                <h3 class="inverted-color pull-right">Search Results</h3>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card elevation1 search-result" ng-repeat="restaurant in model.searches">
        <a href="{{restaurant.url}}">
            <div class="row container-fluid search-content">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img class="img img-responsive img-thumbnail search-image" ng-src="{{restaurant.image_url}}">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <h3>{{restaurant.name}}</h3>
                        <span>{{restaurant.rating}}</span>
                    <p><i>
                        <span ng-repeat="category in restaurant.categories" class="ng-binding">{{category[0]}}&nbsp</span>
                    </i>
                    </p>

                    <i>
                        <h4></h4>
                    </i>
                    <p class="ng-binding">{{restaurant.snippet_text}}</p>
                </div>
            </div>
        </a>
    </div>



        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagination-button top-button">
                            <button class="btn btn-primary big-square-button form-control site-color-background-dark pagination-button white-color" name="button" type="button" ng-click="model.goHome()">
                                <h4>&lt; Back</h4>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
            </div>
        </div>
        </div>
    </div>
    </section>